ul{
    font-size: 32px;
}
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Barlow&family=Coiny&family=Merriweather&family=Roboto:wght@700&display=swap');
h1{
    font-family: 'Roboto', sans-serif; 
    font-size: 64px;
}
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Barlow&family=Coiny&family=Merriweather&family=Roboto:wght@700&display=swap');
h2{
    font-family: 'Coiny', cursive; 
    font-size: 117,33px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p{
    font-family: 'Roboto', sans-serif; 
    font-size: 32px;
}
